{% if request.path != '/log_in/' and request.path != '/sign_up/' %}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="user-account-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ request.user.gravatar }}" alt="Gravatar" style="width: 1.5rem; height: 1.5rem; border-radius: 50%;">
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-account-dropdown">
          <li><a class="dropdown-item" href="{% url 'profile' %}">Change profile</a></li>
          <li><a class="dropdown-item" href="{% url 'password' %}">Change password</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'log_out' %}">Log out</a></li>
        </ul>
      </li>
    </ul>
  </div>
{% endif %}