<style>
  .navbar {
    z-index: 2;
  }

  .navbar-brand {
    font-weight: bold;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="justify-content-start">
    {% include 'partials/home_button.html' %}
  </div>
  <a class="navbar-brand" href="{% url 'dashboard' %}">
    Task Manager
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
    <!-- Menu Items -->
    <div class="d-flex align-items-center">
      {% include 'partials/notification.html' %}
      {% include 'partials/menu.html' %}
    </div>
  </div>
</nav>